<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/client/app/users/register/users.register.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <form class="container" ng-submit="vm.register()">
      <div class="hcenter">
        <h1>Register</h1>
      <p class="hcenter">To register for a free account please provide us with some basic information using
      the form below. Please use valid credentials.</p>
      <form class="form hcenter" ng-submit="vm.register()">

        <input type="text" class="hcenter" placeholder="Username" style="width: 300px" ng-model="vm.user.email" required>
        <br>
        <input type="password" class="hcenter" placeholder="Password" ng-model="vm.user.password" style="width: 300px" required>
        <br>
            <input type="text" class="hcenter" placeholder="First Name" ng-model="vm.user.firstName" style="width: 300px" required>
            <br>
            <input type="text" class="hcenter" placeholder="Last Name" ng-model="vm.user.lastName" style="width: 300px" required>
            <br>
        <input type="submit" class="submit" value="Register" style="width: 300px">
      </form>
    </div>
  </body>
</html>
