<form class="well container" ng-submit="vm.create()">
     <div class="hcenter">
       <input style="min-width: 80%; max-width: 80%; " ng-model="vm.question.question"></input>
     </div>
     <br>
     <div class="hcenter">
       <button class="btn btn-success" type="submit" value="submit" >Submit</button>
     </div>
</form>
<br>
<br>


<div class ="container" style="min-width: 80%; max-width: 80%;" >
<table class="table table-bordered table table-striped">
  <thead>
                </thead>
                <tbody>
                    <tr ng-repeat="q in vm.questions">
                        <td> {{q.question}} </td>
                    </tr>
                </tbody>
            </table>

</div>
