<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/client/app/users/login/user.login.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body class="hcenter">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <div class="wrapper">
      <h1 class="">Log In</h1>
      <p class="hcenter">To log in to your account please enter your username and password below.</p>
      <form class="form" ng-submit="vm.login()">
        <input type="text" class="name" placeholder="Username" ng-model="vm.user.username" required="true">
        <div>
          <p class="name-help">Please enter your username</p>
        </div>
        <input type="password" placeholder="Password" ng-model="vm.user.password" required="true">
         <div>
          <p class="email-help">Please enter your password</p>
        </div>
        <input type="submit" class="submit" value="Login">
      </form>
      <div class="hcenter">
      <h3>Or Log In with Facebook</h3>
      <button class="btn btn-social btn-facebook" target="_blank" href="/api/v1/auth/facebook/auth" name="button"></button>
    </div>

    </div>
  </body>
</html>
